.pulse.active, .pulse-active {
  animation: shadow-pulse 1s infinite;
}

.glowing.active, .glowing-active {
  animation: shadow-glowing 1s infinite;
}

@keyframes shadow-pulse {
  0% {
	box-shadow: 0 0 0 0 rgba(53, 105, 217, .5);
  }
  100% {
	box-shadow: 0 0 0 35px rgba(53, 105, 217, 0);
  }
}

@keyframes shadow-glowing {
  0% {
	box-shadow: 0 0 -10px $primary;
  }
  40% {
	box-shadow: 0 0 20px $primary;
  }
  60% {
	box-shadow: 0 0 20px $primary;
  }
  100% {
	box-shadow: 0 0 -10px $primary;
  }
}
