// Body
$body-bg: #f6f8fa;
$enable-prefers-reduced-motion-media-query: false;

// Typography
$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$small-font-size: 75%;
$input-btn-padding-x-lg: 1.2rem;
$input-btn-padding-x: 1rem;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4CB58E;
$teal2: #4dc0b5;
$cyan: #6cb2eb;

$body-color: #34495e;
$body-color-secondary: #9eb0c1;
$input-placeholder-color: $body-color-secondary;
$border-color: #e9ecef;
$primary: #40c276;
$info: #46abd2;
$warning: #ffbd2c;
$danger: #ef4f4f;
$theme-colors: ("primary": $primary,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"fade": $body-color-secondary,
);
